# OS Junk
._*
.DS_Store
Thumbs.db

#Python Ignore
__pycache__/
.pytest_caches

# Python VENV
.venv
venv

# IDE
.idea/

# LOGS
logs/*.csv

# PROPRIETARY CLASSES
classes/*
!classes/README.md

# Pyinstaller
build
dist

# ENV
env.txt
