@charset "UTF-8";

/* CSS Document */
* {
	box-sizing: border-box; /* Ensures padding and border are included in the width/height */
}

html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #004210;
	color: #666;
	overflow: hidden; /* Prevents extra scrolling */
}

.header {
	padding: 0 0 1rem;
}

.header,
.footer {
	text-align: center;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.container {
	background-color: #ffffff;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	padding: 2rem;
	width: 90dvw; /* Responsive width */
	height: 85dvh; /* Take 85% of the viewport height */
	max-width: 1400px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start; /* Spread content vertically */
	align-items: center;
	overflow: hidden; /* Prevents extra scrolling */
}

.chat-area {
	background-color: #ffffff;
	width: 100%; /* Takes full width of the container */
	display: flex;
	flex-direction: column;
	overflow: hidden; /* Ensures no extra scrolling */
	flex-grow: 1; /* Allows chat-area to grow with content */
}

.response-output {
	width: 100%;
	height: 60%; /* Takes up 60% of chat-area */
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #ccc;
	border-radius: 10px;
	background-color: #f9f9f9;
	color: black;
	overflow-y: auto; /* Allows vertical scrolling */
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	word-wrap: break-word;
	white-space: normal;
}

.input-container {
	display: flex;
	width: 100%;
	align-items: center;
	gap: 10px;
	position: relative;
}

.user-message,
.bot-message {
	margin: 5px;
	padding: 15px;
	border-radius: 10px;
	max-width: 80%;
	word-wrap: break-word;
	position: relative;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
	gap: 9px;
}

.user-message {
	color: blue; /* Royal Blue */
	background-color: #e6f7ff;
	align-self: flex-end;
	text-align: right;
}

.bot-message {
	color: rebeccapurple;
	background-color: #f0f0f0;
	align-self: flex-start;
	text-align: left;
	font-style: italic; /* This will italicize the text */
}

h1 {
	color: #333;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol {
	margin: 0;
}

li:not(:last-child) {
	margin-bottom: 4.5px;
}

button {
	background-color: #007bff;
	color: white;
	border: none;
	padding: 10px 20px;
	margin: 10px;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
}

button:hover {
	background-color: #0056b3;
}

input.access-key-input {
	background-color: whitesmoke;
	color: #004210;
	border: 1px solid #ccc;
	padding: 0.35rem 0.5rem;
	margin: 0 0.5rem;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
	min-width: 200px;
}

input.user-input {
	width: 100%;
	padding: 10px;
	margin: 10px 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 16px;
}

textarea.user-input {
	width: 100%;
	padding: 10px;
	margin: 10px 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 5px;
	overflow-y: auto;
	font-size: 16px;
	resize: none; /* Disable manual resizing */
	height: 50px; /* Initial height */
}

/* Center the footer */
footer {
	width: 90vh;
	max-width: 1200px;
	text-align: center;
	margin-top: 10px;
}

pre {
	background-color: #f9f9f9;
	padding: 10px;
	border-radius: 5px;
	color: green;
	white-space: pre-wrap; /* Maintains whitespace but wraps text */
	word-wrap: break-word;
	overflow-wrap: break-word;
}

.parental-topic {
	color: green;
	font-weight: bold; /* This will bold */
}

.cursor {
	color: green;
	font-weight: normal;
}

.topic {
	color: green;
	font-weight: normal;
}

.content {
	color: blue;
	font-style: normal;
}

.elaborate {
	color: darkblue;
	font-style: normal;
}

.green-normal {
	color: green;
	font-weight: normal;
}

.green-bold {
	color: green;
	font-weight: bold; /* This will bold */
}

.darkgreen-normal {
	color: darkgreen;
	font-weight: normal;
}

.darkgreen-bold {
	color: darkgreen;
	font-weight: bold; /* This will bold */
}

.orange-normal {
	color: orange;
	font-weight: normal;
}
.orange-bold {
	color: orange;
	font-weight: bold;
}

.blue-normal {
	color: blue;
	font-weight: normal;
}

.blue-bold {
	color: blue;
	font-weight: bold;
}

.darkblue-normal {
	color: darkblue;
	font-weight: normal;
}

.darkblue-bold {
	color: darkblue;
	font-weight: bold;
}

.purple-normal {
	color: rebeccapurple;
	font-weight: normal;
}

.purple-bold {
	color: rebeccapurple;
	font-weight: bold;
}

.red-normal {
	color: red;
	font-weight: normal;
}

.red-bold {
	color: red;
	font-weight: bold;
}

.pink-normal {
	color: deeppink;
	font-weight: normal;
}

.pink-bold {
	color: deeppink;
	font-weight: bold;
}

.gray-normal {
	color: darkslategray;
	font-weight: normal;
}

.gray-bold {
	color: darkslategray;
	font-weight: bold;
}

.timestamp {
	font-size: 0.8em;
	color: #999;
	align-self: flex-end;
	margin-left: 10px;
}

select {
	background-color: whitesmoke;
	color: #004210;
	border: 1px solid #ccc;
	padding: 0.35rem 0.5rem;
	margin: 0 0.5rem;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
	min-width: 200px;
}

select:hover {
	background-color: #e6e6e6;
}

.thinkingIndicator {
	margin-right: 10px;
}

/* Loader styles */
.loader {
	border: 4px solid #f3f3f3;
	border-top: 4px solid #3498db;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	animation: spin 2s linear infinite;
	margin-left: 10px; /* Space between input and loader */
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/* DIALOG */

dialog {
	width: 420px;
	min-height: 240px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding: 1.5rem 1.5rem;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 0.5rem;
	border: none;
	box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
	margin: 0;
}

dialog[open] {
	display: flex;
}

dialog,
dialog[open]::backdrop {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s ease-in-out 300ms, opacity 300ms ease-in-out;
}

dialog[open].fade-in,
dialog[open].fade-in::backdrop {
	transition-delay: 0s;
}

dialog[open].fade-in,
dialog[open].fade-in::backdrop {
	opacity: 1;
	visibility: visible;
}

dialog::backdrop {
	backdrop-filter: blur(3px);
	background-color: rgba(0, 0, 0, 0.35);
}

#submissionStatus {
	margin-top: 1rem;
	display: none;
	text-align: center;
}
